/* Styling the header section */

:root {
  --header-height: 3.25rem;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  background-color: var(--body-color);
  z-index: 100;
  padding: 10px 15px;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .logo h1 {
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.375s;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #f5f5f5;
  color: transparent;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header .logo i {
  font-size: 1.5rem;
}

header nav {
  display: flex;
  gap: 5px;
}

header nav a {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.9rem;
  background-color: transparent;
  display: flex;
  border: 2px solid transparent;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
  transition: all 0.375s;
}

header nav a:hover {
  border-color: #8672ff;
  color: #8672ff;
}

header #mode {
  background-color: transparent;
  border: none;
  color: #fff;
}

main {
  margin-top: var(--header-height);
}

.darkmode header nav li:hover {
  color: var(--primary-color);
}

.darkmode {
  --body-color: #f9f9f9;
  color: #000;
}

.darkmode header nav li {
  color: #000;
}

.darkmode header #mode {
  color: #000;
}
