/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-color: #141520;
  --gap: 7px;
}

button {
  cursor: pointer;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--body-color);
  color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--header-height));
}

a {
  color: #f9f9f9;
  text-decoration: none;
}

li {
  list-style: none;
}

/* Main Content */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: transparent;
  padding: 2rem 3rem;
  border-radius: 10px;
}

.container .user-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container h1 {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #f5f5f5;
  color: transparent;
  font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 1.5rem;
}

#questionCount {
  width: 100%;
  height: 3rem;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  border: 1px solid;
  color: #f9f9f9;
}

#questionCount::selection {
  color: #1972d2;
}

main .start {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--body-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  z-index: 3;
}

.start .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.start .content h1 {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #f5f5f5;
  color: transparent;
  font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 1rem;
}
.start .content h2 {
  color: #999999;
  font-family: monospace, cursive, sans-serif;
  transition: all 0.375s;
  font-size: 1.25rem;
}

.start .options {
  display: flex;
  gap: 1rem;
  width: 23rem;
}

main .cover {
  position: fixed;
  top: var(--header-height);
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--body-color);
  transition: all 1.25s;
}

.start button {
  padding: 5px 10px;
  font-size: 1.3rem;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  flex: 1;
  transition: all 0.375s;
  font-weight: bold;
}

.start #yes {
  color: lime;
}
.start #no {
  color: tomato;
}
.start #yes:hover {
  border-color: lime;
  box-shadow: 5px 5px 1000px lime;
}
.start #no:hover {
  border-color: tomato;
  box-shadow: 5px 5px 1000px tomato;
}

#startQuiz {
  position: relative;
  width: 10rem;
  height: 3rem;
  font-size: 1.1rem;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.375s;
  background-color: #242530;
  font-weight: bold;
  border-radius: 5px;
}

#startQuiz:hover {
  background-color: #343540;
}

.darkmode .container {
  background-color: transparent;
}

.darkmode #startQuiz {
  color: #111;
}

.darkmode .start .content h2 {
  color: #555;
}

.darkmode .start .options #yes {
  color: rgb(22, 169, 22);
}
.darkmode .start .options #yes:hover {
  border-color: rgb(22, 169, 22);
  box-shadow: 0px 0px 100px rgb(22, 169, 22);
}
.darkmode .start .options #no:hover {
  border-color: red;
  box-shadow: 0px 0px 100px red;
}

.darkmode .start .content h1 {
  color: transparent;
  background: linear-gradient(45deg, blue, red, green);
  background-clip: text;
}
.darkmode .start .content h2 {
  color: #999;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.darkmode .container h1 {
  background: linear-gradient(45deg, blue, red, green);
  background-clip: text;
}

.darkmode #questionCount {
  color: #111;
}
